.castList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.castItem {
  border: 1px dotted beige;
  width: 180px;
  height: 320px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: space-between;
}
.actorImg {
  width: 100%;
  height: auto;
  padding-bottom: 0px;
  margin-bottom: 0;
}
.role {
  font-size: 10px;
  margin-bottom: 5px;
  margin-top: 0;
}
.name {
  margin-bottom: 5px;
  margin-top: 0;
}
